In [1]:
import numpy as np
import matplotlib.pyplot as plt

## **Print First 10 digits**

In [5]:
a = [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## **Print Hello 10 times**

In [7]:
b = ["Hello","Hello","Hello","Hello","Hello","Hello","Hello","Hello","Hello","Hello"]
print(b)

['Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello']

In [8]:
len(b)

10

## **For Loop**
### **Printing Digits with For loop**
### The range() function returns a sequence of numbers, starting from 0 and increments by 1 but does not include the last number

In [9]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### **Syntax of for loop**

## **Print Hello 10 times using 10 times**

In [16]:
for j in range(10):
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

## **Print even numbers with for loops and if statement**

In [19]:
for j in range(1,20):
  if j % 2 == 0:
    print(j)

2
4
6
8
10
12
14
16
18

## **Print odd numbers with for loops and if statement**

In [22]:
for j in range(1,20):
  if j % 2 != 0:
    print(j)

1
3
5
7
9
11
13
15
17
19

## **Print numbers between 1 and 1000 divisible by 15**

In [24]:
for k in range(1, 1000):
  if k % 3 == 0 and k % 5 == 0:
    print(k)

15
30
45
60
75
90
105
120
135
150
165
180
195
210
225
240
255
270
285
300
315
330
345
360
375
390
405
420
435
450
465
480
495
510
525
540
555
570
585
600
615
630
645
660
675
690
705
720
735
750
765
780
795
810
825
840
855
870
885
900
915
930
945
960
975
990

In [26]:
for num in range(1, 1000):
  if num % 15 == 0:
    print(num)

15
30
45
60
75
90
105
120
135
150
165
180
195
210
225
240
255
270
285
300
315
330
345
360
375
390
405
420
435
450
465
480
495
510
525
540
555
570
585
600
615
630
645
660
675
690
705
720
735
750
765
780
795
810
825
840
855
870
885
900
915
930
945
960
975
990

## **Numbers between 1 and 1000 divisible by 9 and 19**

In [31]:
list = [] # create an empty list for placeholder
for num in range(1, 1000):
  if num % 9 == 0 and num % 19 == 0:
    list.append(num)
print(list)

[171, 342, 513, 684, 855]

## **Sum of first 10 numbers**

In [35]:
sum = 0
for num in range(1,11):
  sum = sum + num
print(sum)

55