In [1]:
## What is tuple?

# A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [1]:
# creating a tuplea tuple 

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(lst)
print(type(lst))

tpl = tuple()
print(tpl)
print(type(tpl))

[]
<class 'list'>
()
<class 'tuple'>

In [3]:
numbers = tuple((1, 2, 3, 4, 5))
print(numbers)

(1, 2, 3, 4, 5)

In [4]:
list ((1, 2, 3, 4, 5))

[1, 2, 3, 4, 5]

In [5]:
mixed_tuple = (1, "Hello", 3.4, True)
print(mixed_tuple)
print(type(mixed_tuple))

(1, 'Hello', 3.4, True)
<class 'tuple'>

In [6]:
## Accessing tuple items

numbers

(1, 2, 3, 4, 5)

In [7]:
numbers[2]

3

In [9]:
numbers[-1]

5

In [10]:
numbers[0:4]

(1, 2, 3, 4)

In [11]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [14]:
print(numbers)
print(mixed_tuple)

(1, 2, 3, 4, 5)
(1, 'Hello', 3.4, True)

In [15]:
## Tuple operations

concatenated = numbers + mixed_tuple
print(concatenated)

(1, 2, 3, 4, 5, 1, 'Hello', 3.4, True)

In [16]:
mixed_tuple * 3

(1, 'Hello', 3.4, True, 1, 'Hello', 3.4, True, 1, 'Hello', 3.4, True)

In [17]:
numbers * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [19]:
## Immutability of tuples

# Tuples are immutable, meaning that you cannot change, add, or remove items after the tuple has been created.
# However, if the tuple contains mutable items, such as lists, those items can be modified.
# numbers[0] = 10  # This will raise a TypeError    

# give example of mutable item in tuple
mutable_tuple = (1, 2, [3, 4], 5)
print(mutable_tuple)
mutable_tuple[2][0] = 30
print(mutable_tuple)    
mutable_tuple[2] = [30, 40]  # This will raise a TypeError

(1, 2, [3, 4], 5)
(1, 2, [30, 4], 5)

TypeError: 'tuple' object does not support item assignment

In [20]:
#Tuple methods

print(numbers.count(1))
print(numbers.index(2))

1
1

In [21]:
## Packing and Unpacking of tuples

# Packing
packed_tuple = 1, 2, "Hello", 3.4, True
print(packed_tuple)
print(type(packed_tuple))

(1, 2, 'Hello', 3.4, True)
<class 'tuple'>

In [22]:
# Unpacking

a, b, c, d, e = packed_tuple
print(a)
print(b)
print(c)
print(d)

1
2
Hello
3.4

In [23]:
# Unpacking with *

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [24]:
# Nested tuples

lst =[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 'Hello', 3.14, "c"]]
lst[0]

[1, 2, 3]

In [25]:
lst[0][2]

3

In [30]:
lst[3][0:3]

[1, 'Hello', 3.14]

In [33]:
nested_tuple = (1, 2, (3, 4),("a", "b"))
nested_tuple[2][0]

3

In [34]:
# Iterating through a nested tuple
for item in nested_tuple:
    if isinstance(item, tuple):
        for sub_item in item:
            print(sub_item)
    else:
        print(item)

1
2
3
4
a
b

In [35]:
# conclusion
# Tuples are a fundamental data structure in Python that offer several advantages, including immutability, which can lead to safer and more predictable code. They are useful for grouping related data and can be used as keys in dictionaries due to their hashable nature. Understanding tuples and their operations is essential for effective Python programming.